USE [master]
GO
/****** Object:  Database [QLThuVien]    Script Date: 15/05/2022 14:58:46 PM ******/
CREATE DATABASE [QLThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuVien', FILENAME = N'D:\SQLDB\QLThuVien.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLThuVien_log', FILENAME = N'D:\SQLDB\QLThuVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuVien]
GO
/****** Object:  Table [dbo].[CanBo]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanBo](
	[MaCB] [nvarchar](50) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_CanBo] PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuyenMuc]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMuc](
	[MaMuc] [nvarchar](50) NOT NULL,
	[TenMuc] [nvarchar](255) NULL,
 CONSTRAINT [PK_ChuyenMuc] PRIMARY KEY CLUSTERED 
(
	[MaMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieu]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieu](
	[SoPhieu] [nvarchar](50) NOT NULL,
	[MaSach] [nvarchar](50) NOT NULL,
	[NgayTra] [date] NULL,
	[BiHong] [bit] NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_CTPhieu] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[TheDG] [nvarchar](50) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayMuaThe] [date] NULL,
	[NgayHetHan] [date] NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[TheDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaXB]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXB](
	[MaNXB] [nvarchar](50) NOT NULL,
	[TenNXB] [nvarchar](255) NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phieu]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieu](
	[SoPhieu] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[MaCB] [nvarchar](50) NULL,
	[TheDG] [nvarchar](50) NULL,
	[NgayHenTra] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DaKetThuc] [bit] NULL,
 CONSTRAINT [PK_Phieu] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](255) NULL,
	[MaMuc] [nvarchar](50) NULL,
	[MaTG] [nvarchar](50) NULL,
	[MaNXB] [nvarchar](50) NULL,
	[ViTri] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](255) NULL,
	[DaChoMuon] [bit] NULL,
	[DaBiHong] [bit] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 15/05/2022 14:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [nvarchar](50) NOT NULL,
	[TenTG] [nvarchar](255) NULL,
	[ThongTin] [nvarchar](255) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CanBo] ([MaCB], [HoDem], [Ten], [TaiKhoan], [MatKhau], [NgaySinh], [GioiTinh], [ChucVu], [SDT], [Email], [DiaChi]) VALUES (N'0000000001', N'Bùi Tiến', N'Trường', N'admin', N'admin', CAST(N'1982-12-28' AS Date), 1, N'Quản Lý', N'0989995221', N'buitientruong@gmail.com', N'Hà Nội')
INSERT [dbo].[CanBo] ([MaCB], [HoDem], [Ten], [TaiKhoan], [MatKhau], [NgaySinh], [GioiTinh], [ChucVu], [SDT], [Email], [DiaChi]) VALUES (N'0000000002', N'Nguyễn Thị', N'Thu', N'thu', N'123', CAST(N'1982-01-25' AS Date), 0, N'Thủ Thư', N'0', N'dontruongbt@gmail.com', N'Hà Nội')
INSERT [dbo].[ChuyenMuc] ([MaMuc], [TenMuc]) VALUES (N'0000000001', N'Công Nghệ Thông Tin')
INSERT [dbo].[ChuyenMuc] ([MaMuc], [TenMuc]) VALUES (N'0000000002', N'Khoa Học Cơ Bản')
INSERT [dbo].[CTPhieu] ([SoPhieu], [MaSach], [NgayTra], [BiHong], [GhiChu]) VALUES (N'0000000001', N'0000000741', NULL, 0, N'')
INSERT [dbo].[CTPhieu] ([SoPhieu], [MaSach], [NgayTra], [BiHong], [GhiChu]) VALUES (N'0000000001', N'0000000745', NULL, 0, N'')
INSERT [dbo].[CTPhieu] ([SoPhieu], [MaSach], [NgayTra], [BiHong], [GhiChu]) VALUES (N'0000000001', N'0000001298', NULL, 0, N'')
INSERT [dbo].[DocGia] ([TheDG], [HoDem], [Ten], [Lop], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [NgayMuaThe], [NgayHetHan]) VALUES (N'0000000001', N'Lương Thanh', N'An', N'K3CN1', CAST(N'1988-02-19' AS Date), 1, N'0', N'Hà Nội', CAST(N'2022-01-01' AS Date), CAST(N'2022-06-01' AS Date))
INSERT [dbo].[DocGia] ([TheDG], [HoDem], [Ten], [Lop], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [NgayMuaThe], [NgayHetHan]) VALUES (N'0000000002', N'Nguyễn Huy', N'Anh', N'K3CN1', CAST(N'1988-08-12' AS Date), 1, N'0', N'Hà Nội', CAST(N'2022-01-01' AS Date), CAST(N'2022-06-01' AS Date))
INSERT [dbo].[DocGia] ([TheDG], [HoDem], [Ten], [Lop], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [NgayMuaThe], [NgayHetHan]) VALUES (N'0000000003', N'Phạm Tuấn', N'Anh', N'K3CN1', CAST(N'1986-11-13' AS Date), 1, N'0', N'Hà Nội', CAST(N'2022-01-01' AS Date), CAST(N'2022-06-01' AS Date))
INSERT [dbo].[NhaXB] ([MaNXB], [TenNXB], [SDT], [DiaChi]) VALUES (N'0000000001', N'Tổng hợp TP.HCM', N'0', N'Việt Nam')
INSERT [dbo].[NhaXB] ([MaNXB], [TenNXB], [SDT], [DiaChi]) VALUES (N'0000000002', N'Phụ nữ', N'0', N'Việt Nam')
INSERT [dbo].[NhaXB] ([MaNXB], [TenNXB], [SDT], [DiaChi]) VALUES (N'0000000003', N'NXB Trẻ', N'0', N'Việt Nam')
GO
INSERT [dbo].[Phieu] ([SoPhieu], [NgayLap], [MaCB], [TheDG], [NgayHenTra], [NgayKetThuc], [DaKetThuc]) VALUES (N'0000000001', CAST(N'2022-05-15' AS Date), N'0000000001', N'0000000032', CAST(N'2022-05-30' AS Date), NULL, 0)
INSERT [dbo].[Phieu] ([SoPhieu], [NgayLap], [MaCB], [TheDG], [NgayHenTra], [NgayKetThuc], [DaKetThuc]) VALUES (N'0000000002', CAST(N'2022-05-15' AS Date), N'0000000001', N'0000000028', CAST(N'2022-06-15' AS Date), NULL, 0)
INSERT [dbo].[Phieu] ([SoPhieu], [NgayLap], [MaCB], [TheDG], [NgayHenTra], [NgayKetThuc], [DaKetThuc]) VALUES (N'0000000003', CAST(N'2022-05-15' AS Date), N'0000000001', N'0000000010', CAST(N'2022-05-20' AS Date), NULL, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaMuc], [MaTG], [MaNXB], [ViTri], [NoiDung], [DaChoMuon], [DaBiHong]) VALUES (N'0000000001', N' Vẽ Kỹ thuật cơ khí T2', N'0000000001', N'0000001079', N'0000000027', N'CK1.2', N' Vẽ Kỹ thuật cơ khí T2', 0, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaMuc], [MaTG], [MaNXB], [ViTri], [NoiDung], [DaChoMuon], [DaBiHong]) VALUES (N'0000000002', N'"Yes or No" Những quyết định thay đổi cuộc sống', N'0000000001', N'0000000721', N'0000000001', N'VH1.1', N'"Yes or No" Những quyết định thay đổi cuộc sống', 0, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaMuc], [MaTG], [MaNXB], [ViTri], [NoiDung], [DaChoMuon], [DaBiHong]) VALUES (N'0000000003', N'100 Ý tưởng bán hàng hay nhất mọi thời đại', N'0000000001', N'0000000354', N'0000000110', N'MAR1.1', N'100 Ý tưởng bán hàng hay nhất mọi thời đại', 0, 0)
GO
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [ThongTin]) VALUES (N'0000000001', N' PGS.TS. Nguyễn Hữu Lộc', N'')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [ThongTin]) VALUES (N'0000000002', N'Adam Khoo(Trần Đăng Khoa)', N'')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [ThongTin]) VALUES (N'0000000003', N'Alan Swann', N'')
GO
ALTER TABLE [dbo].[CTPhieu]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieu_Phieu] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[Phieu] ([SoPhieu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPhieu] CHECK CONSTRAINT [FK_CTPhieu_Phieu]
GO
ALTER TABLE [dbo].[CTPhieu]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieu_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPhieu] CHECK CONSTRAINT [FK_CTPhieu_Sach]
GO
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_CanBo] FOREIGN KEY([MaCB])
REFERENCES [dbo].[CanBo] ([MaCB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_CanBo]
GO
ALTER TABLE [dbo].[Phieu]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_DocGia] FOREIGN KEY([TheDG])
REFERENCES [dbo].[DocGia] ([TheDG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phieu] CHECK CONSTRAINT [FK_Phieu_DocGia]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_ChuyenMuc] FOREIGN KEY([MaMuc])
REFERENCES [dbo].[ChuyenMuc] ([MaMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_ChuyenMuc]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXB] ([MaNXB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NXB]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
USE [master]
GO
