USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 4/16/2022 4:16:05 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'D:\SQL_Sever\Data\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'D:\SQL_Sever\Data\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MaNganh] [nvarchar](50) NOT NULL,
	[TenNganh] [nvarchar](255) NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MaSV] [nvarchar](50) NOT NULL,
	[MaMon] [nvarchar](50) NOT NULL,
	[DiemHS1] [float] NULL,
	[DiemHS2] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemThiLai] [float] NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](255) NULL,
	[NienKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nvarchar](50) NOT NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[MaNganh] [nvarchar](50) NULL,
	[TenLop] [nvarchar](255) NULL,
	[GVCN] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](255) NULL,
	[SoTiet] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/16/2022 4:16:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [nvarchar](50) NOT NULL,
	[MaLop] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CHUYENNGANH] ([MaNganh], [TenNganh]) VALUES (N'HTTT', N'Hệ thống thông tin')
INSERT [dbo].[CHUYENNGANH] ([MaNganh], [TenNganh]) VALUES (N'KHMT', N'Khoa học máy tính')
GO
INSERT [dbo].[KETQUA] ([MaSV], [MaMon], [DiemHS1], [DiemHS2], [DiemThi], [DiemThiLai]) VALUES (N'71HT0001', N'DCHT001', 10, 6, 8, 1)
INSERT [dbo].[KETQUA] ([MaSV], [MaMon], [DiemHS1], [DiemHS2], [DiemThi], [DiemThiLai]) VALUES (N'71HT0002', N'DCHT002', 4, 7, 9, 1)
GO
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa], [NienKhoa]) VALUES (N'K1', N'CNTT', N'2005-2009')
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa], [NienKhoa]) VALUES (N'K2', N'CNTT', N'2005-2009')
GO
INSERT [dbo].[LOP] ([MaLop], [MaKhoa], [MaNganh], [TenLop], [GVCN], [SDT]) VALUES (N'HT21', N'k1', N'HTTT', N'Class1', N'Lê Chí Luận', N'0123456789')
INSERT [dbo].[LOP] ([MaLop], [MaKhoa], [MaNganh], [TenLop], [GVCN], [SDT]) VALUES (N'HT22', N'k2', N'KHMT', N'Class2', N'Nguyễn Như Ngọc ', N'0987654321')
GO
INSERT [dbo].[MONHOC] ([MaMon], [TenMon], [SoTiet]) VALUES (N'DCHT001', N'C#', 45)
INSERT [dbo].[MONHOC] ([MaMon], [TenMon], [SoTiet]) VALUES (N'DCHT002', N'C++', 45)
INSERT [dbo].[MONHOC] ([MaMon], [TenMon], [SoTiet]) VALUES (N'DCHT003', N'Java', 45)
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [SDT], [DiaChi]) VALUES (N'71HT0001', N'HT21', N'Kiều Ngọc Hải', CAST(N'2002-05-23' AS Date), 0, N'0963465573', N'Hà Nội')
INSERT [dbo].[SINHVIEN] ([MaSV], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [SDT], [DiaChi]) VALUES (N'71HT0002', N'HT22', N'Nguyễn Hữu Đô', CAST(N'2002-05-14' AS Date), 0, N'0921312312', N'Hà Nội')
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_MONHOC] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MONHOC] ([MaMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_MONHOC]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_CHUYENNGANH] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[CHUYENNGANH] ([MaNganh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_CHUYENNGANH]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
USE [master]
GO
